---
name: Build Titanoboa ISOs
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '00 13 1 * *' # 13:00 (1pm) on the 1st of the month
  push:
    paths:
      - 'iso_files/**'
      - 'flatpaks/**'
  workflow_dispatch:

jobs:
  build:
    name: Build and push ISO file
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write
      id-token: write

    steps: 
      - name: Checkout the repository
        id: checkout
        uses: actions/checkout@v6

      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@695eb75bc387dbcd9685a8e72d23439d8686cba6 # v10
      
      - name: Build ISO
        id: build
        uses: ublue-os/titanoboa@main
        with:
          image-ref: ghcr.io/fizzyizzy05/fizzyblue:latest
          flatpaks-list: ${{ github.workspace }}/flatpaks/system-flatpaks.list
          hook-post-rootfs: ${{ github.workspace }}/iso_files/iso_config.sh
          kargs: ""
          builder-distro: fedora
          iso-dest: fizzyblue.iso
          
      - name: Rename and Checksum ISO
        id: rename
        run: |
          mkdir -p output
          mv ${{ steps.build.outputs.iso-dest }} output/fizzyblue.iso
          (cd output && sha256sum fizzyblue.iso | tee fizzyblue.iso-CHECKSUM)
          
      - name: Upload ISO to Job Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name:  fizzyblue.iso
          if-no-files-found: error
          path:  output/
