---
name: Build Titanoboa ISOs
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '05 10 * * *' # 10:05am UTC everyday  
  workflow_dispatch:

jobs:
  build:
    name: Build and push ISO file
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write
      id-token: write

    steps: 
      - name: Checkout the repository
        id: checkout
        uses: actions/checkout@v4
      
      - name: Build ISO
        id: build
        uses: ublue-os/titanoboa@main
        with:
          image-ref: ghcr.io/fizzyizzy05/fizzyblue:latest
          flatpaks-list: ${{ github.workspace }}/flatpaks/system-flatpaks.list
          kargs: ""
          builder-distro: fedora

      - name: Rename and Checksum ISO
        run: |
          mkdir -p output
          mv ${{ steps.build.outputs.iso-dest }} output/fizzyblue.iso
          (cd output && sha256sum my-custom-image.iso | tee fizzyblue.iso-CHECKSUM)
